<mat-dialog-content class="mat-typography " style="text-align: center;">

  <h6 mat-dialog-title>Detalle Usuario</h6>
  
  <form [formGroup]="userDetailForm" style="margin-top: 20px;">

    <p>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input formControlName="email"  matInput placeholder="Ej: app@gmail.com">
        <mat-icon matSuffix>mail</mat-icon>
        
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nombre</mat-label>
        <input formControlName="name"  matInput placeholder="Ej: app@gmail.com">
        <mat-icon matSuffix>mail</mat-icon>
        
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Posicion</mat-label>
        <input formControlName="position"  matInput placeholder="Ej: app@gmail.com">
        <mat-icon matSuffix>mail</mat-icon>
        
      </mat-form-field>
    </p>

    <br>
    <button type="button" class="w-75" mat-flat-button>Actualizar</button>

  </form>
  <hr>
  <form [formGroup]="changepasswordForm">
    
    <h6 mat-dialog-title>Actualizar contraseña</h6>

    <mat-card>
      <mat-card-content>

        <p>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nueva Contraseña</mat-label>
            <input  matInput placeholder="Ej: app@gmail.com">
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Repita Contraseña</mat-label>
            <input  matInput placeholder="Ej: app@gmail.com">
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>
        </p>

        <button type="button" class="w-75" mat-flat-button>Actualizar</button>

      </mat-card-content>
    </mat-card>

  </form>
  
</mat-dialog-content>