ion-content {
    --ion-background-color: #ffffff; /* Color blanco */
    --color: #000000;
}

ion-toolbar {
  --background: #ffffff; /* Color blanco */
  --color: #000000; /* Color del texto */
  --ion-background-color: #ffffff; /* Color blanco */
  --background-color: #ffffff;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Altura total de la ventana */
}

.table-container {
  flex: 1;
  overflow-y: auto; /* Permite el desplazamiento vertical */
}

.mat-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.circle-button-blue {
  color: white;
  background-color: rgb(70, 106, 206);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.circle-button-white {
  color: black;
  background-color: rgb(218, 224, 255);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}



.accordion-header {
  display: flex;
  align-items: center;
}

.text-wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-9 {
  flex: 1; /* Asegura que ocupe el espacio disponible sin desplazarse */
  min-width: 0; /* Evita que el contenido cause el desbordamiento */
}
