ion-content {
    --ion-background-color: #ffffff; /* Color blanco */
    --color: #000000;
}

ion-toolbar {
  --background: #ffffff; /* Color blanco */
  --color: #000000; /* Color del texto */
  --ion-background-color: #ffffff; /* Color blanco */
  --background-color: #ffffff;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Altura total de la ventana */
}

.table-container {
  flex: 1;
  overflow-y: auto; /* Permite el desplazamiento vertical */
}

.mat-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}