<div class="container" style="overflow-y: auto; height: 100vh; width: 100%;">

  <div class="row">

    <mat-accordion>

      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title> Filtro de busqueda</mat-panel-title>
        </mat-expansion-panel-header>
        
        <form [formGroup]="filterForm">

          @for(item of dataFilter; track item){

            <div class="row">

              <div class="col-12">
                <p>
                  <mat-form-field appearance="outline" class="w-100">
                    
                    <mat-label>{{item.name}}</mat-label>
                    <mat-select formControlName={{item.type}}>
                      @for (filter of item.data; track filter) {
                        @if (item.type == 'month' || item.type == 'year'){
                          <mat-option [value]="filter.name">{{filter.name}}</mat-option>
                        }
                        @if (item.type == 'cliente'){
                          <mat-option [value]="filter">{{filter}}</mat-option>
                        }
                        @if (item.type == 'tipo_cliente'){
                          <mat-option [value]="filter">{{filter}}</mat-option>
                        }
                        
                      }
                    </mat-select>
                    
                  </mat-form-field>
                </p>
              </div>
    
            </div>

          }
          
        </form>

      </mat-expansion-panel>

    </mat-accordion>

  </div>
  <br>
  <div class="row text-center">
    <div class="col-12">
      <button mat-stroked-button>Imprimir Reporte</button>
    </div>
  </div>
  <br>

  @for(item of dataSource; track item; let i = $index){
    <br>
    <div class="row">

      <mat-accordion>
      
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <div class="row">
              <div class="col-3">
                <button [ngClass]="i % 2 === 0 ? 'circle-button-blue' : 'circle-button-white'"  mat-icon-button class="circle-button-blue" (click)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
              </div>
                
              <div class="col-9 text-wrapper">
                <p>Equipo: {{item.equipo}} </p>
              </div>
            </div>
            
          </mat-expansion-panel-header>
          
          <div class="row">
            <div class="col-2">

            </div>

            <div class="col-10">
              <p>Serie: {{item.serie}}</p>
              <p>Tecnico: {{item.tecnico}}</p>
              <p>Programada: {{item.programada}}</p>
              <p>Estado: {{item.estado}}</p>
              <div class="row">
                <p><b>Acciones: </b></p>
              </div>
              
              <div class="row">
                <button mat-icon-button class="circle-button-blue" style="margin-right: 5px;">
                  <mat-icon>content_paste</mat-icon>
                </button>

                <button mat-icon-button class="circle-button-blue" style="margin-right: 5px;">
                  <mat-icon>edit</mat-icon>
                </button>

              </div>
            
            </div>
          </div>
          
        </mat-expansion-panel>
  
      </mat-accordion>
  
    </div>

  }

</div>
